.home-section {
  height: 100%;
}

.header-home h1 {
  font-size: 55px;
}

.ez-liner {
  border: 3px solid #4cd137;
  width: 348px;
  border-radius: 11px;
}

.home-image {
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  width: 100%;
  height: 50vh;
}

.home-image::before {
  content: '';
  display: block;
  position: absolute;
  top: 67px;
  left: 0;
  width: 50%;
  height: 44vh;
  border-radius: 0 0 15px 0;
  background-color: #485460;
}

@media only screen and (max-width: 1200px) {
  .header-home h1 {
    position: absolute;
    width: 443px;
    left: 8%;
    top: 100px;
    color: white;
    z-index: 999;
  }
}

@media only screen and (min-width: 1201px) {
  .header-home h1 {
    position: absolute;
    width: 443px;
    left: 10%;
    top: 100px;
    color: white;
    z-index: 999;
  }
}

@media only screen and (min-width: 1550px) {
  .header-home h1 {
    position: absolute;
    width: 443px;
    left: 12%;
    top: 100px;
    color: white;
    z-index: 999;
  }
}

@media only screen and (min-width: 1622px) {
  .header-home h1 {
    position: absolute;
    width: 443px;
    left: 13%;
    top: 100px;
    color: white;
    z-index: 999;
  }
}

@media only screen and (min-width: 1680px) {
  .header-home h1 {
    position: absolute;
    width: 443px;
    left: 19%;
    top: 100px;
    color: white;
    z-index: 999;
  }
}


.home-content {
  z-index: 999;
  top: 375px;
  width: 100%;
  height: 100%
}

.ins-button-1 {
  position: absolute;
  background-color: #2C3E50;
  color:#4cd137;
  font-weight: bolder;
  letter-spacing: 10px;
  height: 50px;
  width: 200px;
  transition: .5s;
  z-index: 99999;
  margin-top: -20px;
}

.ins-button-2 {
  background-color: #2C3E50;
  color:#4cd137;
  font-weight: bolder;
  letter-spacing: 10px;
  height: 50px;
  width: 200px;
  transition: .5s;
  z-index: 99;
  margin-top: -20px;
}

.ins-button:hover {
  background-color: #4cd137;
  color: #FFFFFF;
}

.news {
  margin-top: 100px;
}

.news-content img {
  width: 100%;
}

.news-content div {
  width: 100%;
}

.loading-spinner {
  margin-left: 50%;
}
