.action-buttons {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  margin-top: -25px;
  margin-left: 10px;
  margin-right: 10px;
}

.ez-liner {
  border: 3px solid #4cd137;
  width: 348px;
  border-radius: 11px;
}

.home-image {
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  width: 100vw;
  height: 50vh;
}

.home-image::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(to top, rgba(255,255,255, 1.0), rgba(255,255,255, 0));
}

.home-image::before {
  content: '';
  display: block;
  position: absolute;
  top: 67px;
  left: 0;
  width: 50%;
  height: 50vh;
  border-radius: 0 11px 11px 0;
  background-color: #485460;
  z-index: 1;
}

.header-home h1 {
  position: absolute;
  width: 443px;
  left: 19%;
  top: 100px;
  color: white;
  z-index: 999;
}

.home-container {
  top: 375px;
  width: 100%;
  height: 100%;
  z-index: 10;
}


.home-content {
  position: absolute;
  width: 76%;
  z-index: 10;
}

.ins-button {
  background-color: #2C3E50;
  color:#4cd137;
  font-weight: bolder;
  letter-spacing: 10px;
  height: 50px;
  width: 200px;
  transition: .5s;
  z-index: 999;
}

.ins-button:hover {
  background-color: #4cd137;
  color: #FFFFFF;
}

.ins-button::after {
  content: '';
  display: block;
  top: -10px;
  margin-left: -20px;
  position: absolute;
  width: 200px;
  height: 40px;
  border: 2px solid #4cd137;
  z-index: -1;
}

.news {
  margin-top: 100px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.news-content {
  display: flex;
  flex-direction: column;
  margin: 11.5px;
  align-items: center;
  width: 48%;
}

.news-content img {
  width: 100%;
  height: 300px;
}

.news-content div {
  width: 100%;
}

.loading {
  position: absolute;
  align-items: center;
}
