.tax-credibility {
  margin-top: 188px;
}

.uk-text-center {
  display: flex;
  flex-wrap: wrap;
}

.btn-submit {
  color: white; 
  margin-top: 50px; 
  border-radius: 11px; 
  background-color: #2C3E50; 
  font-weight: 1000;
}

.npwp-alert a {
  padding-left: 13px;
}

.npwp-alert p {
  padding-left: 23px;
}

.sweet-loading {
  align-self: center;
}
