.tax-credibility {
  margin-top: 188px;
}

.uk-text-center {
  display: flex;
  flex-wrap: wrap;
}

.btn-submit {
  color: white; 
  margin-top: 50px; 
  border-radius: 11px; 
  background-color: #2C3E50; 
  font-weight: 1000;
}

.credibility-alert {
  position: absolute;
  padding-top: 20px;
  padding-right: 20px;
  width: 800px;
  top: 100px;
  left: 30%;
}

.npwp-alert {
  position: absolute;
  margin-top: -100px;
  margin-left: 25%;
}

.npwp-alert p {
  font-weight: 900;
  padding-left: 23px;
}

.sweet-loading {
  align-self: center;
}

.loading {
  align-self: center;
  position: absolute;
  right: 47vw;
}

.main-content-tax {
  margin-top: 100px;
}

.uk-alert-success, .uk-alert-danger {
  position: absolute;
}

