.tax-credibility {
  margin-top: 188px;
}

.uk-text-center {
  display: flex;
  flex-wrap: wrap;
}

.btn-submit {
  color: white; 
  margin-top: 50px; 
  border-radius: 11px; 
  background-color: #2C3E50; 
  font-weight: 1000;
}

.credibility-alert {
  position: absolute;
  padding-top: 20px;
  padding-right: 20px;
  width: 800px;
  top: 100px;
  left: 23%;
}

.npwp-alert {
  position: absolute;
  height: 200px;
  width: 400px;
  margin-top: -100px;
  left: 36%;
}

.npwp-alert a {
  padding-left: 13px;
}

.npwp-alert p {
  padding-left: 23px;
  margin-top: 23%;
}

.sweet-loading {
  align-self: center;
}

.loading {
  align-self: center;
  position: absolute;
  right: 47vw;
}

.main-content-tax {
  margin-top: 200px;
  /* position: absolute; */
}
